<h1>Post-Its</h1>
<hr />

<%= link_to "New Post-It", new_note_path%>

<% @notes.each do |note| %>
 <h2> <%= note.title %> </h2>
 <h5>Written by: <%= note.author %> </h5>
 <%= link_to "Go To Post", note_path(note.id)%>
 <%= link_to "Edit Post", edit_note_path(note.id) %>
<% end %>